RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^products.html$ http://localhost/Shopping/products.php
RewriteRule ^products-([0-9]+)\.html$ http://localhost/Shopping/products.php?page=$1